body {
   margin: 20px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: 1s;
}
button.dark {
   background-color: rgb(201, 186, 56);
   color: #fff;
   transition: 1s;
}
body.dark {
   background-color: #333;
   color: #fff;
   transition: 1s;
}
button {
   cursor: pointer;
   padding: 0.5rem 1rem;
   margin: 20px;
   border-radius: 10px;
   box-shadow: 0 0 20px 0 rgba(167, 166, 166, 0.8);
}
header {
   position: relative;
   width: 100vw;
   height: 10vh;
   border: 1px solid gray;
   display: flex;
}
header ul, footer ul {
   display: flex;

   align-items: center;
}
header li, footer li {
   margin: 20px;
   cursor: pointer;
}
footer {
   position: relative;
   width: 100vw;
   height: 10vh;
   border: 1px solid gray;
   bottom:10vh;
   display: flex;
